*{
  border: black 1px solid
}
html, body{ 
  height: 100%;
  margin:0 ;
  padding: 0;
}
.main {
  height :100%;
  padding :0 20%;
  display: flex;
}
.left{
  flex: 30%;
}
.middle{
  flex: 1%;
}
.right{
  flex: 69%;
}

.avatar{
  display: flex;
  justify-content: center;
  padding: 40px;
}

.picture{
  height : 150px;
  width :150px;
  background-image: url("https://scontent-tpe1-1.xx.fbcdn.net/v/t39.30808-6/277816384_4695661370543528_26954825586312807_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=s-kg0-UcEYQAX9TFA22&_nc_ht=scontent-tpe1-1.xx&oh=00_AT_3g8yKWxdRd2p7QgqVT_AlRbhP2WLSs6tlC95gCN4ZcQ&oe=625DBF15");
  background-size: cover;
  border-radius: 100%;
}

.name.zh-name{
  text-align: center;
  color: #5E6A40;
  font-weight:bolder;
  /*box-shadow:3px 3px 3px 1px rgba(0,0,0,0.2);*/
}